<%- include("partials/header"); -%>
    <h1>Contact</h1>

    <ul type="none">
        <li><a href="https://www.linkedin.com/in/gaurav-prusty/">LinkedIn</a></li>
        <li><a href="https://github.com/gaurav-prusty">GitHub</a></li>
        <li><a href="https://stackoverflow.com/users/19669277/gaurav-prusty">Stack Overflow</a></li>
        <li><a href="https://twitter.com/gaurav_prusty">Twitter</a></li>

    </ul>
<%- include("partials/footer"); -%>
